In [1]:
import numpy as np
import pandas as pd
from yahoo_fin.stock_info import get_data, get_quote_table, get_stats, get_quote_data, get_market_status, get_quote_data
import csv

In [ ]:
ticker_list = ['600519.SS', '601398.SS', '600036.SS', '601288.SS', '601318.SS']

historical_datas = {}
for ticker in ticker_list:
    historical_datas[ticker] = get_data(ticker, start_date = None, end_date = None, index_as_date = False, interval = "1d")

for ticker in historical_datas:
    stock = historical_datas[ticker]
    stock.dropna(axis=0, how='any', inplace=True)
    stock.drop(labels=['Unnamed: 0', 'ticker', 'adjclose', 'date', 'volume', 'label'],axis=1, inplace=True)
    order = ['open', 'high', 'low', 'close']
    stock = stock[order]
    stock.to_csv('./output/' + ticker + '.csv', index=None)

In [8]:
# for ticker in ticker_list:
#     stock = pd.read_csv('./output/' + ticker + '.csv')
# #     stock.dropna(axis=0, how='any', inplace=True)
    
# #     stock['label'] = stock['close'].shift(-1)
#     stock.dropna(axis=0, how='any', inplace=True)
# #     stock['date'] = stock['date'].str.replace('-','/')
# #     stock.drop(labels=['Unnamed: 0', 'ticker', 'adjclose'],axis=1, inplace=True)

#     stock.drop(labels=['Unnamed: 0', 'ticker', 'adjclose', 'date', 'volume', 'label'],axis=1, inplace=True)
# #     order = ['date', 'open', 'close', 'low', 'high', 'volume', 'label']
#     order = ['open', 'high', 'low', 'close']
#     stock = stock[order]
# #     stock.to_csv('./output/' + ticker + '_lstm.csv', index=None)
#     stock.to_csv('./output/' + ticker + '.csv', index=None)

            date      open     close       low      high      volume     label
0     1992/04/27  1.806287  2.107334  1.806287  2.189438    239330.0  2.142913
1     1992/04/28  2.079966  2.142913  2.079966  2.189438    785589.0  2.153860
2     1992/04/29  2.142913  2.153860  2.107334  2.178491    637606.0  2.186702
3     1992/04/30  2.153860  2.186702  2.134702  2.216806    654048.0  2.320805
5     1992/05/04  2.271542  2.320805  2.271542  2.326278   1498100.0  2.323542
...          ...       ...       ...       ...       ...         ...       ...
7246  2021/02/18  4.880000  4.980000  4.880000  5.020000   7078111.0  5.130000
7247  2021/02/19  4.970000  5.130000  4.950000  5.150000   9577366.0  5.200000
7248  2021/02/22  5.130000  5.200000  5.130000  5.340000  14733781.0  5.100000
7249  2021/02/23  5.200000  5.100000  5.090000  5.240000   8259420.0  5.210000
7250  2021/02/24  5.100000  5.210000  5.100000  5.230000  10511252.0  5.400000

[6943 rows x 7 columns]