In [1]:
import numpy as np
import pandas as pd
from yahoo_fin.stock_info import get_data, get_quote_table, get_stats, get_quote_data, get_market_status, get_quote_data
import csv

In [7]:
# ticker_list = ['600519.SS', '601398.SS', '600036.SS', '601288.SS', '601318.SS']
ticker_list = ['600519.SS']

historical_datas = {}
for ticker in ticker_list:
    historical_datas[ticker] = get_data(ticker, start_date = None, end_date = None, index_as_date = False, interval = "1d")

for ticker in historical_datas:
    stock = historical_datas[ticker]
    stock.dropna(axis=0, how='any', inplace=True)
    print(stock[len(stock)-7:len(stock)])
    stock.drop(labels=['ticker', 'adjclose', 'date', 'volume'],axis=1, inplace=True)
    order = ['open', 'high', 'low', 'close']
    stock = stock[order]
    stock.to_csv('./output/' + ticker + '.csv', index=None)

           date         open         high          low        close  \
4826 2021-03-11  1976.989990  2079.989990  1961.479980  2048.000000
4827 2021-03-12  2070.000000  2077.000000  2002.010010  2026.000000
4828 2021-03-15  2050.000000  2069.800049  1951.150024  1975.449951
4829 2021-03-16  1972.800049  2019.989990  1965.000000  2010.500000
4830 2021-03-17  2000.000000  2050.000000  1976.010010  2030.359985
4831 2021-03-18  2043.609985  2086.360107  2039.000000  2069.699951
4832 2021-03-19  2035.000000  2043.000000  1992.229980  1995.449951

         adjclose     volume     ticker
4826  2048.000000  5676897.0  600519.SS
4827  2026.000000  4032251.0  600519.SS
4828  1975.449951  6248487.0  600519.SS
4829  2010.500000  3464850.0  600519.SS
4830  2030.359985  3137491.0  600519.SS
4831  2069.699951  3386488.0  600519.SS
4832  1995.449951  2952424.0  600519.SS
           date  open  high   low  close  adjclose       volume     ticker
3496 2021-03-11  5.44  5.54  5.43   5.48      5.48  277331915.0  601398.SS
3497 2021-03-12  5.47  5.50  5.43   5.44      5.44  184841636.0  601398.SS
3498 2021-03-15  5.45  5.58  5.42   5.55      5.55  303797606.0  601398.SS
3499 2021-03-16  5.56  5.63  5.54   5.60      5.60  273079994.0  601398.SS
3500 2021-03-17  5.58  5.60  5.48   5.53      5.53  203713443.0  601398.SS
3501 2021-03-18  5.51  5.54  5.46   5.48      5.48  224544199.0  601398.SS
3502 2021-03-19  5.49  5.50  5.32   5.35      5.35  291414757.0  601398.SS
           date       open       high        low      close   adjclose  \
4665 2021-03-11  50.200001  52.250000  50.200001  51.970001  51.970001
4666 2021-03-12  52.349998  53.389999  52.130001  53.320000  53.320000
4667 2021-03-15  52.980000  54.790001  52.639999  53.110001  53.110001
4668 2021-03-16  53.790001  55.250000  53.500000  54.320000  54.320000
4669 2021-03-17  53.950001  54.320000  53.299999  53.400002  53.400002
4670 2021-03-18  53.490002  54.299999  52.900002  54.240002  54.240002
4671 2021-03-19  54.020000  54.459999  51.549999  51.619999  51.619999

          volume     ticker
4665  90421033.0  600036.SS
4666  85580753.0  600036.SS
4667  93931916.0  600036.SS
4668  69716276.0  600036.SS
4669  53231461.0  600036.SS
4670  48279311.0  600036.SS
4671  63363474.0  600036.SS
           date  open  high   low  close  adjclose       volume     ticker
2587 2021-03-11  3.39  3.43  3.34   3.38      3.38  398670980.0  601288.SS
2588 2021-03-12  3.37  3.40  3.34   3.38      3.38  222746942.0  601288.SS
2589 2021-03-15  3.38  3.44  3.36   3.42      3.42  310914793.0  601288.SS
2590 2021-03-16  3.42  3.44  3.39   3.41      3.41  218045807.0  601288.SS
2591 2021-03-17  3.40  3.41  3.35   3.40      3.40  224101293.0  601288.SS
2592 2021-03-18  3.39  3.42  3.38   3.39      3.39  175002219.0  601288.SS
2593 2021-03-19  3.39  3.41  3.32   3.32      3.32  227436500.0  601288.SS
           date       open       high        low      close   adjclose  \
3415 2021-03-11  84.099998  86.360001  83.800003  86.360001  86.360001
3416 2021-03-12  86.510002  86.599998  85.129997  85.550003  85.550003
3417 2021-03-15  85.360001  85.500000  84.209999  85.110001  85.110001
3418 2021-03-16  85.300003  85.599998  84.410004  85.400002  85.400002
3419 2021-03-17  85.000000  85.000000  82.410004  82.540001  82.540001
3420 2021-03-18  82.300003  82.779999  81.070000  81.419998  81.419998
3421 2021-03-19  81.199997  81.300003  79.519997  79.570000  79.570000

           volume     ticker
3415   91252098.0  601318.SS
3416   64681200.0  601318.SS
3417   54551255.0  601318.SS
3418   54353955.0  601318.SS
3419  106478452.0  601318.SS
3420   80312095.0  601318.SS
3421   81802529.0  601318.SS

In [8]:
# for ticker in ticker_list:
#     stock = pd.read_csv('./output/' + ticker + '.csv')
# #     stock.dropna(axis=0, how='any', inplace=True)
    
# #     stock['label'] = stock['close'].shift(-1)
#     stock.dropna(axis=0, how='any', inplace=True)
# #     stock['date'] = stock['date'].str.replace('-','/')
# #     stock.drop(labels=['Unnamed: 0', 'ticker', 'adjclose'],axis=1, inplace=True)

#     stock.drop(labels=['Unnamed: 0', 'ticker', 'adjclose', 'date', 'volume', 'label'],axis=1, inplace=True)
# #     order = ['date', 'open', 'close', 'low', 'high', 'volume', 'label']
#     order = ['open', 'high', 'low', 'close']
#     stock = stock[order]
# #     stock.to_csv('./output/' + ticker + '_lstm.csv', index=None)
#     stock.to_csv('./output/' + ticker + '.csv', index=None)

            date      open     close       low      high      volume     label
0     1992/04/27  1.806287  2.107334  1.806287  2.189438    239330.0  2.142913
1     1992/04/28  2.079966  2.142913  2.079966  2.189438    785589.0  2.153860
2     1992/04/29  2.142913  2.153860  2.107334  2.178491    637606.0  2.186702
3     1992/04/30  2.153860  2.186702  2.134702  2.216806    654048.0  2.320805
5     1992/05/04  2.271542  2.320805  2.271542  2.326278   1498100.0  2.323542
...          ...       ...       ...       ...       ...         ...       ...
7246  2021/02/18  4.880000  4.980000  4.880000  5.020000   7078111.0  5.130000
7247  2021/02/19  4.970000  5.130000  4.950000  5.150000   9577366.0  5.200000
7248  2021/02/22  5.130000  5.200000  5.130000  5.340000  14733781.0  5.100000
7249  2021/02/23  5.200000  5.100000  5.090000  5.240000   8259420.0  5.210000
7250  2021/02/24  5.100000  5.210000  5.100000  5.230000  10511252.0  5.400000

[6943 rows x 7 columns]

In [2]:
ticker_list = ['600519.SS']

historical_datas = {}
for ticker in ticker_list:
    historical_datas[ticker] = get_data(ticker, start_date = None, end_date = None, index_as_date = False, interval = "1d")

for ticker in historical_datas:
    stock = historical_datas[ticker]
    stock.dropna(axis=0, how='any', inplace=True)
    print(stock[len(stock)-7:len(stock)])
    stock.drop(labels=['ticker', 'adjclose', 'volume'],axis=1, inplace=True)
    order = ['date', 'open', 'high', 'low', 'close']
    stock = stock[order]
    stock.to_csv('./output/' + ticker + '.csv', index=None)

           date         open         high          low        close  \
4839 2021-03-30  2040.000000  2086.000000  2035.079956  2056.050049
4840 2021-03-31  2045.099976  2046.020020  2000.000000  2009.000000
4841 2021-04-01  2024.000000  2046.800049  2001.219971  2044.500000
4842 2021-04-02  2056.000000  2165.000000  2056.000000  2162.000000
4843 2021-04-06  2161.000000  2161.979980  2102.300049  2126.030029
4844 2021-04-07  2104.060059  2117.300049  2050.000000  2061.000000
4845 2021-04-08  2047.030029  2079.000000  2044.000000  2070.000000

         adjclose     volume     ticker
4839  2056.050049  3262697.0  600519.SS
4840  2009.000000  3715441.0  600519.SS
4841  2044.500000  2658763.0  600519.SS
4842  2162.000000  5202757.0  600519.SS
4843  2126.030029  3274177.0  600519.SS
4844  2061.000000  4020097.0  600519.SS
4845  2070.000000  2854762.0  600519.SS